---
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="w-3/5 mx-auto flex justify-between p-4 border-b">
		<div class="flex items-center justify-center">
			<a href="/">{SITE_TITLE}</a>
		</div>
		<div class="flex items-center justify-center">
			<a href="/notebooks" class="me-2">Notebooks</a>
			<a href="/inspiration" class="me-2">Inspiration</a>
			<a href="/research" class="me-2">Research</a>
		</div>
	</div>
</header>
